    body {
        height: 100vh;
        justify-content: center;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 64px;
    }
    
    .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }
    
    .validation-message {
        color: red;
    }
    
    .background {
        background-image: url('../assets/gettyimages-155914049-640x640.jpg');
        background-repeat: no-repeat;
        opacity: 0.7;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    label {
        font-size: 20px;
        font-weight: 700;
        color: #ddd70b;
        text-shadow: 0 2px 4px rgba(41, 48, 59, .55);
        margin-bottom: 16px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    input {
        width: 300px;
        padding: 10px;
    }
    
    button {
        cursor: pointer;
        width: 320px;
        padding: 10px 0;
        margin-top: 16px;
    }
    
    .button-text {
        color: #c51c1c;
        text-shadow: 0 2px 4px rgba(41, 48, 59, .55);
        font-family: 'Courier New', Courier, monospace;
    }