.background {
    background-image: url('../assets/gettyimages-155914049-640x640.jpg');
    background-repeat: no-repeat;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

h1 {
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    justify-content: center;
    margin-top: 64px;
    background-image: url('../assets/Cartoon\ Bark\ 1.jpg');
    border-radius: 25px;
    padding-bottom: 25px;
    text-size-adjust: 20px;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 64px;
    opacity: 1;
}

.list-title {
    font-size: 30px;
    margin-bottom: 24px;
    font-family: "Lucida Console", Courier, monospace;
    opacity: 1;
}

.list-item {
    margin-bottom: 24px;
    margin-top: 24px;
    font-family: "Lucida Console", Courier, monospace;
    opacity: 1;
}

ul.task-list {
    list-style-type: none;
    cursor: pointer;
    text-size-adjust: 200px;
}

input {
    cursor: pointer;
}

label {
    cursor: pointer;
}

button {
    cursor: pointer;
    color: white;
    background-color: rgb(103, 21, 110);
    height: 48px;
    width: 220px;
    border-radius: 4px;
    border-width: 0;
}

button:disabled {
    color: rgba(16, 16, 16, 0.3);
    background-color: rgba(19, 1, 1, 0.3);
    border-width: 0;
}

.materials-container {
    width: 47%;
}

.tasks-container {
    width: 47%;
}