@import './navbar.css';
@import './user-profile.css';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    margin: 0;
}

.main-area {
    width: 81.5%;
}
