nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    margin: 30px 0;
}

a {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

a:hover {
    color: #ffffff !important;
    background: rgb(222, 184, 135);
    border-color: rgb(222, 184, 135) !important;
    transition: all 0.4s ease 0s;
}

.navbar-elements-container {
    display: flex;
    justify-content: space-around;
    width: 670px;
    font-size: 18px;
    color: rgb(255, 250, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-element {
    cursor: pointer;
}

.tabs-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ddd70b;
}