.rank-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 300px;
}

.rank-details {
    display: flex;
    align-items: center;
}

.rank-number {
    margin-right: 8px;
}

.username {
    margin-left: 8px;
}

i {
    margin: 0;
}

h2, .rank-number, .username, .ranking-score {
    font-size: 40px;
    font-weight: 700;
    color: #ddd70b;
    text-shadow: 0 2px 4px rgba(41, 48, 59, .55);
    margin-bottom: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.rank-number, .username, .ranking-score {
    font-size: 20px;
    margin-bottom: 0;
}