body {
    height: 75vh;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.validation-message {
    color: red;
}