body {
    background-image: url('../assets/7daa18cf7d89fe577e8427c923a1bcf3.gif');
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.search-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 150px;
}

.search-form>label {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-shadow: 0 2px 4px rgba(41, 48, 59, .55);
    margin-bottom: 16px;
}

.search-form>input {
    height: 40px;
    border-radius: 4px;
    box-shadow: none;
    padding-left: 16px;
    font-size: 20px;
}

.search-form>input::placeholder {
    font-size: 20px;
}